body {
    height: 100%;
    margin: auto;
    margin-top: 2em;
    background-color: #333333;
    color: #FFFFFF;
    overflow: hidden;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

article {
    display: inline-block;
    position: relative;
    padding: 1%;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

section {
    display: block;
    position: relative;
    margin: auto;
    width: 50%; height: 100%;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

img {
    display: block;
    margin: auto;
    border: 3px solid white;
}

p {
    display: block;
    text-align: center;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute; top: 0; left: 0;
    width: 100%; height: 103%;
    z-index: 10;
}