@charset "UTF-8";

body {
    font-family: "Gill Sans", sans-serif;
    max-width: 1480px;
    min-width: 1240px;
}

p {
    display: inline;
}

table {
    display: table;
    float: left;
    border-collapse: collapse;
}

tr {
    display: table-row;
}

tr:hover {
    cursor: pointer
}

td {
    display: table-cell;
    border: 1px solid black;
    padding: 2px;
}

th {
    display: table-cell;
    background-color: #646464;
    color: #ffffff;
}

.last_trade_price_only {
    text-align: right;
}

.change {
    text-align: right;
}

.open {
    text-align: right;
}

.day_s_high {
    text-align: right;
}

.day_s_low {
    text-align: right;
}

.volume {
    text-align: right;
}

.higher {
    background-image: url('images/g.png');
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: 90%, 50%;
    background-color: #006904;
}

.lower {
    background-image: url('images/g2.png');
    background-size: 25% auto;
    background-repeat: no-repeat;
    background-position: 90%,  50%;
    background-color: #ff0003;
}

#company {
    padding-top: 12px;
    clear: both;
}

.stockData {
    float: left;
    margin-top: 0px;
}

.winnersAndLosers {
    float: right;
    width: 400px;

}

.winnersAndLosers td {
    font-size: 10px;
    width: 100%;
    cursor: auto;
}

#msg {
    float: right;
    font-family: Monaco, "Lucida Console", monospace;
    font-size: 10px;
    width: 400px;
    height: 100px;
    border: 1px solid grey;
    overflow: scroll;
}