@import url(http://fonts.googleapis.com/css?family=Audiowide);
body {
    width: 98%;
    height: 98%;
    margin: 1%;
    display: table;
    vertical-align: top;
    background-color: #96EC89;
}

header {
    font-family: "Audiowide";
    background-color: #008001;
    color: #FFFFFF;
    font-size: 2em;
    font-style: italic;
    text-align: center;
}

main {
    display: table;
}

article {
    background-color: #008001;
    vertical-align: top;
    width: 33.3%;
    display: table-cell;
    border: 1px solid #006904;
    padding: 1%;
    color: #fffa05;
}

article img {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 80%;
    height: auto;
    margin: 5%;
    margin-top: auto;
    border: 1em solid #fffa05;
}

article img:hover {
    -webkit-box-shadow: 5px 5px 5px #111;
    box-shadow: 5px 5px 5px #111;
    border: 1em solid #ff0000;
}

.vertrektijden {
    width: 66.5%;
    text-align: center;
}

table {
    background-color: #FFFFFF;
    color: #008001;
    font-style: italic;
    text-align: center;
    margin: auto;
}

table td {
    border: 1px solid #008001;
}

.dag {
    color: #000000;
    font-weight: bold;
}

@media all and (max-width: 900px) {
    main {
        /*CSS validator throws error on vendor extensions*/
        display: -webkit-box;
        display: -moz-box;
        display: box;
    }

    section {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        box-flex: 1;
    }

    article {
        width: inherit;
        display: block;
    }

    .vertrektijden {
        width: inherit;
    }
}

@media all and (max-width: 500px) {
    main {
        display: table;
    }
}