<h2><a href="/#/request">Requests</a></h2>

<form name="requestForm">

    <table>
        <tr><td>Name: </td> <td><input type="text" data-ng-model="request.doc.name" required value="" ></td></tr>

        <tr><td>Hostname: </td> <td><input type="text" data-ng-model="request.doc.hostname" required value=""></td></tr>

        <tr><td>Port: </td> <td><input type="text" data-ng-model="request.doc.port" required value=""></td></tr>

        <tr><td>Path: </td> <td><input type="text" data-ng-model="request.doc.path"required value="" ></td></tr>

        <tr><td>method: </td> <td><input type="text" data-ng-model="request.doc.method" required value=""></td></tr>

        <tr><td>Description: </td> <td><input type="text" data-ng-model="request.doc.description" ></td></tr>

    </table>

    <button class="btn btn-lg btn-danger" role="button" data-ng-click="delete()">Delete</button>

    <button class="btn btn-primary btn-lg" role="button" data-ng-click="save()">Save</button>


</form>