<h2>Requests</h2>
<input ng-model="query" placeholder="type to start searching...">

<ul>
    <li data-ng-repeat="request in request.doc | filter:query"><a href="/#/request/{{request._id}}">{{request.name}}, {{request.hostname}}</a></li>
</ul>