<h2><a href="/#/scenario">Scenario</a></h2>

<form name="requestForm">

    <table>
        <tr><td>Name: </td> <td><input type="text" data-ng-model="scenario.doc.name" required value=""></td></tr>

        <tr><td>Sequence: </td> <td><input type="text" data-ng-model="scenario.doc.sequence" ></td></tr>

        <tr><td>requestID: </td> <td><input type="text" data-ng-model="scenario.doc.testSet.requestID" required value=""></td></tr>

        <tr><td>testID: </td> <td><input type="text" data-ng-model="scenario.doc.testSet.testID" required value=""></td></tr>

    </table>

    <button class="btn btn-lg btn-danger" role="button" data-ng-click="delete()">Delete</button>

    <button class="btn btn-primary btn-lg" role="button" data-ng-click="save()">Save</button>

    <button class="btn btn-primary btn-lg" role="button" data-ng-click="executeScenario()">executeScenario</button>

</form>