<h2>scenario</h2>
<input ng-model="query" placeholder="type to start searching...">

<ul>
    <li data-ng-repeat="scenario in scenario.doc | filter:query"><a href="/#/scenario/{{scenario._id}}">{{scenario.name}}, {{scenario.sequence}}</a></li>
</ul>