<h2><a href="/#/test">Tests</a></h2>

<table>
    <tr><td>name: </td> <td><input type="text" data-ng-model="test.doc.name"  required value=""></td></tr>

    <tr><td>description: </td> <td><input type="text" data-ng-model="test.doc.description" ></td></tr>

    <tr><td>operator: </td> <td><input type="text" data-ng-model="test.doc.operator" required value="" ></td></tr>

    <tr><td>expression: </td> <td><input type="text" data-ng-model="test.doc.expression" required value="" ></td></tr>

    <tr><td>expectation: </td> <td><input type="text" data-ng-model="test.doc.expectation" required value="" ></td></tr>

</table>

<button class="btn btn-lg btn-danger" role="button" data-ng-click="delete()">Delete</button>

<button class="btn btn-primary btn-lg" role="button" data-ng-click="save()">Save</button>

</form>
