<h2>Tests</h2>
<input ng-model="query" placeholder="type to start searching...">

<ul>
    <li data-ng-repeat="test in test.doc | filter:query"><a href="/#/test/{{test._id}}">{{test.name}}, {{test.hostname}}</a></li>
</ul>