<h2>User</h2>
<input ng-model="query" placeholder="type to start searching...">

<ul>
    <li data-ng-repeat="user in user.doc | filter:query"><a href="/#/user/{{user._id}}">{{user.name}}, {{user.sex}}</a></li>
</ul>