<h2><a href="#/user">Users</a></h2>

<table>
    <tr><td>Name: </td> <td><input type="text" data-ng-model="user.doc.name" required value=""></td></tr>

    <tr><td>Sex: </td> <td><input type="text" data-ng-model="user.doc.sex" required value="" ></td></tr>

    <tr><td>Age: </td> <td><input type="text" data-ng-model="user.doc.age" required value=""></td></tr>

    <tr><td>Password: </td> <td><input type="text" data-ng-model="user.doc.password" id="PWfield" required value="" ></td></tr>

</table>


<div class="tab-pane" id="Groups">
    <small>Select the groups that you are member of.</small>

    <div class="checkbox" class="input-group" data-ng-repeat="group in user.groups">
        <label>
            <input type="checkbox" data-ng-model="group.isMember"> {{group.name}}
        </label>
    </div>

</div>
<button class="btn btn-lg btn-danger" role="button" data-ng-click="delete()">Delete</button>

<button class="btn btn-primary btn-lg" role="button" data-ng-click="save()">Save</button>

</form>
