table{
    width: 90%;
    height: 30%;
    background: white;
    border: 1px solid black;
    margin: 5%;
}

th{
    border: 1px solid black;
}

td{
    border: 1px solid black;
    color: black;
    text-align: center;
}

.minus{
    background: red;
}

.normal{
    background: white;
}

.plus{
    background: green;
}